---
layout: default
title: About me
---

<style>
    @import url(/assets/css/figures.css);
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

    .header1 {
        border-bottom: 2px rgb(54, 54, 54) solid;
        margin: 12px 20px !important;
        padding: 5px 0 !important;

        a {
            color: #FFF;
        }
    }

    [class*=sm_] {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        display: inline;
        position: relative;
        text-decoration: none;
        background-color: #363636;
        transition-duration: 0.25s;
        color: rgb(241, 241, 241);
        margin: 0 8px;
        padding-bottom: 24px;
        padding: 10px 10px;
        border-radius: 10px;
        i {
            font-size: 22px;
        }
    }

    #contenido > div > li > div > h1, #contenido > li:nth-child(13) > div > h1 {
        font-size: 38px;
        position: relative;
        top: 14px;
    }

    #contenido > li:nth-child(1) > div > h1 {
        position: relative;
        top: 14px;
    }

    .socials {
        font-size: 20px;
        display: block;
        margin-left: 90px
    }

    .sm_twitter:hover {
        background-color: #00ACEE;
        text-decoration: none;
    }

    .sm_youtube:hover {
        background-color: #FF0000;
        text-decoration: none;
    }

    .sm_github:hover {
        background-color: #000000;
        text-decoration: none;
    }

</style>

<ul id="contenido">

    <li>
        <figure>
            <img class="curpfp" src="{{ site.pfp_link }}" width="225px">
            {% if pfp_credit %}
            <figcaption class="pfpcaption">art by <a href="{{ site.pfp_artist_link }}">@{{ site.pfp_artist_at }}</a>
            </figcaption>
            {% endif %}
        </figure>
        <div>
            <h1 style="text-align: center; font-size: 38px;">Heya, I'm Cookiaria! ✨</h1>
            <p  style="text-align: center;">
                I'm a 20 year old furry person from El Salvador. <br>
                I speak Spanish and English, and i make some things for the internet and for fun!<br> <br>

            <div class="socials">
                <a href="https://twitter.com/Cookiaria" class="sm_twitter">
                    <i class="nf nf-fa-twitter"></i>&nbsp; Twitter
                </a>
                <a href="https://www.youtube.com/@Cookiaria" class="sm_youtube">
                    <i class="nf nf-fa-youtube"></i>&nbsp; Youtube
                </a>
                <a href="https://github.com/Cookiaria" class="sm_github">
                    <i class="nf nf-cod-github"></i>&nbsp; Github
                </a>
            </div>

            </p>
        </div>
    </li>

    <p class="centerpls">
        Writing more about me is still a wip 🏃‍♂️
    </p>

    <!--    <h1 class="header1"></h1>

    <li>
        <figure>
            <img src="/assets/creature.png" width="200px" height="300px" title="i love my computer ... all my friends are in it ... :3c">
            <figcaption class="imgsubtitle">art by me :3</a>
            </figcaption>
        </figure>
        <div>
            <h2>
                About me:
            </h2>
            <p>
                I seriously don't know how to write about myself more lmfao
            </p>
        </div>
    </li>
    -->

    <h1 class="header1"></h1>

    <h1 class="centerpls" id="games">
        Here's some games that I like! <br>
    </h1>
    <p class="centerpls" style="font-size: 14px; font-weight: normal !important;">(last updated: 01-may-2024)</p>

    <li class="flip">
        <figure>
            <img src="/assets/icons/pancakes.png" title="Niko from OneShot" width="200px">
            <figcaption>"I'm not a cat!"</figcaption>
        </figure>
        <div class="contenido-text">
            <img src="/assets/logos/oneshot.png" width="350px;">
            <p> 
                OMG I LOVE THIS GAME SO MUCH <br>
                I've replayed this game so many times (specially the World Machine Edition) and it never fails to make me emotional ;; <br> <br>
                • niko from one shot... comfort character creature...
            </p>
        </div>
    </li> <br>

    <!-- regretevator -->
    <li class="flip">
        <figure>
            <img src="/assets/gregoriah/speaking.gif" title="Gregoriah from Regretevator" width="200px">
            <figcaption>"This building has been here<br>for over 400 years!"</figcaption>
        </figure>
        <div class="contenido-text">
            <img src="/assets/logos/regretevator.png" width="350px"><span style="font-size: 8px; color:#3d3d3d;">(please save me)</span>
            <p>
                A Roblox game; introduced to me by one of my friends (hi avery!!) sometime around in february;
                i've been playing it since! <br> <br>
                • Currently at 4185 floors and counting!
            </p>
        </div>
    </li> <br>

    <li class="flip">
        <figure>
            <img src="/assets/xd.png" title="Gregoriah from Regretevator" width="175px" style="padding-right: 10px !important">
            <figcaption></figcaption>
        </figure>
        <div class="contenido-text">
            <img src="/assets/logos/gd.png" width="500px">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp; 2510 <img src="/assets/icons/star.png" class="customemoji"> &nbsp; 256 <img src="/assets/icons/moon.png" class="customemoji"> &nbsp; 7429 <img src="/assets/icons/diamond.png" class="customemoji"> &nbsp; 119 <img src="/assets/icons/coin.png" class="customemoji"> &nbsp; 253 <img src="/assets/icons/silvercoin.png" class="customemoji"> &nbsp; 85 <img src="/assets/icons/demon.png" class="customemoji"> <br> <br>
                honestly haven't played this game that much lately but it made me like 2390482 friends so i'm including it here anyway <br> <br>
                • oh yeah i my hardest is acu IG
            </p>
        </div>
    </li> <br>

    <h2>
        Others:
    </h2>
    <p>
        - osu! <a href="https://osu.ppy.sh/users/12509548">⏩</a><br>
        - Terraria<br>
        - A Hat in Time <br>
        - A Dance of Fire and Ice <br>
        - Rhythm Doctor <br>
    </p>

    <h1 class="header1"></h1>

    <h1 class="centerpls" id="friends">
        Shoutout to these AMAZING people!
    </h1>

    <p class="centerpls">
        This list is ordered alphabetically - everyone here is a friend of mine !!
    </p>

    {% include friends.html %}

    <h1 class="header1"></h1>

    <h2 id="credits">
        Credits:
    </h2>

    <p>
        • Syntax highlighting for codeblocks by <a href="https://github.com/abhinavs/moonwalk">abhinavs/moonwalk</a> <br>
        • Diego for helping me with tabs and Pear for helping me with learning how to center stuff <br>
        • niko oneshot (comfort character) <br>
        • Github (lol)<br>
        • The Jekyll contributors and backers for making jekyll possible to begin with <br>
        • <a href="https://app.haikei.app/">https://app.haikei.app/</a> for the background svg <br>
        • Debug Mode
    </p>

</ul>