<style>
    .footer_links {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .btt {
        transition-duration: 0.25s;
        text-decoration: none;
        color: white
    }

    .btt:hover {
        color: #ff8600;
        text-decoration: none;
    }

    .flinks {
        transition-duration: 0.25s;
        text-decoration: none;
        color: rgb(241, 241, 241);
    }

    .twitter:hover {
        color: #00acee
    }

    .git:hover {
        color: #F80
    }

    .yt:hover {
        color: #f00
    }

    .bsky:hover {
        color: #1184fe
    }

    .discord:hover {
        color: #5662f6
    }

    .footer_links a i {
        font-size: 24px;
    }
</style>

<footer>
    <span></span> <br> 
    <h2> {{ site.footer_text }}
    </h2>
    <span id="uheardleday" style="font-size:0px;"></span>
    <div>
        <div class="footer_links">
            <a href="https://github.com/Cookiaria" class="flinks git"><i class="nf nf-cod-github"></i></a> •
            <a href="https://twitter.com/Cookiaria" class="flinks twitter"><i class="nf nf-cod-twitter"></i></a> •
            <a href="https://bsky.app/profile/cookiaria.xyz" class="flinks bsky"><i class="nf nf-fae-butterfly"></i></a> •
            <a href="https://www.youtube.com/@Cookiaria" class="flinks yt"><i class="nf nf-md-youtube"></i></a> •
            <a href="/discord" class="flinks discord"><i class="nf nf-fa-discord"></i></a>
        </div>
        <a href="https://github.com/Cookiaria/website-thingy" class="links underlined">Source code ></p>
    </div>
</footer>