<style>
    .footer_links {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .btt {
        transition-duration: 0.25s;
        text-decoration: none;
        color: white
    }

    .btt:hover {
        color: #ff8600
    }

    .flinks {
        transition-duration: 0.25s;
        text-decoration: none;
        color: rgb(241, 241, 241);
    }

    .twitter:hover {
        color: #00acee
    }

    .git:hover {
        color: #F80
    }

    .yt:hover {
        color: #f00
    }

    .bsky:hover {
        color: #1184fe
    }

    .discord:hover {
        color: #5662f6
    }
</style>

<footer>
    <h2 title="honest not really, making all of this from scratch is fun and idk why :3">made with pain by cookiaria
    </h2>
    <div>
        <a href="javascript:backtotop();" class="btt">⬆ Back to top ⬆</a> <br> <br>
        <a href="https://github.com/Cookiaria/website-thingy" class="links underlined">Source code :3</p>
    </div>
    <div class="footer_links">
        <a href="https://github.com/Cookiaria" class="flinks git"><i class="fa-brands fa-github"></i></a> •
        <a href="https://twitter.com/Cookiaria" class="flinks twitter"><i class="fa-brands fa-twitter"></i></a> •
        <a href="https://bsky.app/profile/cookiaria.xyz" class="flinks bsky"><i class="fa-brands fa-bluesky"></i></a> •
        <a href="https://www.youtube.com/@Cookiaria" class="flinks yt"><i class="fa-brands fa-youtube"></i></a> •
        <a href="/discord" class="flinks discord"><i class="fa-brands fa-discord"></i></a>
    </div>
</footer>