<!--
    yeah, it's a mess lol
    Here's the layout to add more:

<li>
    <figure>
        <img src="[image]" width="180px" style="border-radius: 40px; border: 4px [color] solid;">
        <figcaption>"[caption]"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            [friend_name]
        </h1>
        <p>
            text goes here <br>
            text goes here <br>
            text goes here <br>
            <span class="f_socials">
                <a title="" href=""><i style="color: [color];" class="nf "></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

-->

<style>
    .friendsoffset li:nth-child(n+2) {
        margin-top: -70px;
    }

    .f_socials {
        text-decoration: none;
        font-size: 28px;
        position: relative;
        top: 6px
    }

    .f_socials a:hover {
        text-decoration: none;
    }

    #contenido > div > li> figure > img {
        -webkit-user-drag: none;
    }

    #contenido > div > li > div > p {
        margin-top: -8px !important;
    }
</style>


<div class="thisisamess friendsoffset">

<!-- dragonite -->

<li>
    <figure>
        <img src="/assets/icons/pfps/dragonite.png" width="180px" style="border-radius: 40px; border: 4px #ffa000 solid;">
        <figcaption>"number 1 dragonite fan"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            ascdragonite
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/ascdragonite"><i style="color: #ffa000;" class="nf nf-fa-twitter"></i></a>
                <a title="Youtube" href="https://youtube.com/@atscdragonite4770"><i style="color: #ffa000;" class="nf nf-fa-youtube"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- ATOM9 -->

<li>
    <figure>
        <img src="/assets/icons/pfps/atom9.png" title="Blob. Cheese drinking. Crisco bathing. Lard gargling. Calorie theving. Cabbage patch face having. Dr. Robotnik looking. Wingstop eating. Mcdonalds gorging. T-rex arm having. Non-vegetable eating. Cook on a George Foreman grill just to drink up the drip tray. Wide-load. Hungry hungry hippo. Planet. Pretending to have fucking thyroid problem. Whale/Free willy. Parked bus. Yokozuna. Flubber. *holds breath* *releases breath* Kirby. Salad dodger. Chair crusher. Butter ball. Go to subway but put everything on it. Michelin man. Happy because Hostess is back on business MF." width="180px" style="border-radius: 40px; border: 4px #434e56 solid;">
        <figcaption>"Blob."</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            atom9
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/thegameatom9"><i style="color: #434e56;" class="nf nf-fa-twitter"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- avefree -->

<li>
    <figure>
        <img src="/assets/icons/pfps/avery.jpg" width="180px" style="border-radius: 40px; border: 4px #9223ff solid;">
        <figcaption>"Coolest girl in town"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            avefree
        </h1>
        <p>
            <span class="f_socials">
                <a title="Website" href="https://www.avefree.net/"><i style="color: #9223ff;" class="nf nf-fa-globe"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- kopo. ... -->

<li>
    <figure>
        <img src="/assets/icons/pfps/kopo.png" width="180px" style="border-radius: 40px; border: 4px #c6cbec solid;">
        <figcaption>"‼"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            ckopie
        </h1>
        <p>
        </p> <br>
    </div>
</li>

<!-- diego huevo -->

<li>
    <figure>
        <img src="/assets/icons/pfps/diego.png" width="180px" style="border-radius: 40px; border: 4px #00FF00 solid;">
        <figcaption>"<img src="https://cdn.discordapp.com/emojis/764586699379965972.gif?size=44&quality=lossless" height="24px">"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Diego
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter"   href="https://twitter.com/3600Diegowo"><i style="color: #00FF00;" class="nf nf-fa-twitter"></i></a>
                <a title="Musescore" href="https://musescore.com/user/32809303"><i style="color: #00FF00;" class="nf nf-fa-music"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- dorian lol -->

<li>
    <figure>
        <img src="/assets/icons/pfps/dorian.png" width="180px" style="border-radius: 40px; border: 4px #f2bf0b solid;">
        <figcaption>&nbsp;</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Dorian
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/SilverDorian46"><i style="color: #f2bf0b;" class="nf nf-fa-twitter"></i></a>
                <a title="Steam"   href="https://steamcommunity.com/id/SilverDorian46/ "><i style="color: #f2bf0b" class="nf nf-fa-steam"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- emisv -->

<li>
    <figure>
        <img src="/assets/icons/pfps/emisv.png" width="180px" style="border-radius: 40px; border: 4px #ff0055 solid;">
        <figcaption>"emisv"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            emisv
        </h1>
        <p>
            <span class="f_socials">
                <a title="emisv Youtube" href="https://www.youtube.com/channel/UCGeGLSsbhWycs-KyGz26geQ"><i style="color: #ff0055;" class="nf nf-fa-youtube"></i></a>
                <a title="emisv Twitter" href="https://twitter.com/emisvv"><i style="color: #ff0055;" class="nf nf-fa-twitter"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- fros -->

<li>
    <figure>
        <img src="/assets/icons/pfps/frosty.png" width="180px" style="border-radius: 40px; border: 4px #C2E0F9 solid;">
        <figcaption>"No entries of Alolan Chespin<br>found in Pokédex because<br>it never goes outside."</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Frosty
        </h1>
        <p>
            <span class="f_socials">
                <a title="Youtube" href="https://www.youtube.com/@ChepFrosty"><i style="color: #C2E0F9;" class="nf nf-fa-youtube"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- furretpaws -->

<li>
    <figure>
        <img src="/assets/icons/pfps/furret.png" width="180px" style="border-radius: 40px; border: 4px #e88a1e solid;">
        <figcaption title="you guys cant stop meowing cant you? :3c">"meow"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            furretpaws
        </h1>
        <p>
            <span class="f_socials">
                <a title="Website" href="https://furret.net"><i style="color: #e88a1e;" class="fa nf-fa-globe"></i></a>
                <a title="Youtube" href="https://www.youtube.com/@furretpaws"><i style="color: #e88a1e;" class="nf nf-fa-youtube"></i></a>
                <a title="Twitter" href="https://twitter.com/FurretPro"><i style="color: #e88a1e" class="nf nf-fa-twitter"></i></a>
                <a title="Discord user" href="https://discord.com/users/1133460213010284606"><i style="color: #e88a1e" class="nf nf-fa-discord"></i></a>
                <a title="Discord user alt" href="https://discord.com/users/1133460213010284606"><i style="color: #e88a1e" class="nf nf-fa-discord"></i></a>
                <a title="Discord server" href="https://discord.gg/pkX3kV7Bv2"><i style="color: #e88a1e" class="nf nf-fa-discord"></i></a> <br>
                <a title="Reddit" href="https://www.reddit.com/user/furretpaws/"><i style="color: #e88a1e" class="nf nf-fa-reddit_alien"></i></a>
                <a title="Steam" href="https://steamcommunity.com/profiles/76561199578439661"><i style="color: #e88a1e;" class="nf nf-fa-steam"></i></a>
                <a title="Telegram" href="https://t.me/furretpaws"><i style="color: #e88a1e;" class="nf nf-fa-telegram"></i></a>
                <a title="Roblox" href=""><img src="/assets/logos/roblox.png" style="position: relative ; width: 1em; top: 6px; color: #e88a1e"></a>
                <i style="color: gold" class="nf nf-fa-star" title="award for having the most links (insane)"></i>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- GTRAAA -->

<li>
    <figure>
        <img src="/assets/icons/pfps/gtrap.jpg" width="180px" style="border-radius: 40px; border: 4px #fc0198 solid;">
        <figcaption>"I LOVE men"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            GTrap
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/GoldenTrapper_"><i style="color: #fc0198;" class="nf nf-fa-twitter"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- heart -->

<li>
    <figure>
        <img src="/assets/icons/pfps/heart.png" width="180px" style="border-radius: 40px; border: 4px #5865F2 solid;">
        <figcaption>"el gato"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Heartstruck
        </h1>
        <p>
            <span class="f_socials">
                <a title="Website" href="https://katkingdom.xyz/"><i style="color: #5865F2;" class="nf nf-fa-globe"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- murkaa77 -->

<li>
    <figure>
        <img src="/assets/icons/pfps/murka.jpg" width="180px" style="border-radius: 40px; border: 4px hotpink solid;" title="ok listne ;i don give a swag g">
        <figcaption>"It's good to see inside <br>your mind."</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            murkaa77
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/movingobject3"><i style="color: hotpink;" class="nf nf-fa-twitter"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- nan0wav -->

<li>
    <figure>
        <img src="/assets/icons/pfps/nan0wav.png" width="180px" style="border-radius: 40px; border: 4px #78fffd solid;">
        <figcaption>"BUY MY MUSIC BEFORE <br>I GET YOU‼️‼️‼️‼️‼️‼️‼️"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            nan0wav
        </h1>
        <p>
            <span class="f_socials">
                <a title="Bandcamp" href="https://ryan.bandcamp.com/"><i style="color: #78fffd;" class="nf nf-fa-bandcamp"></i></a>
                <a title="itch.io"  href="https://nan0wav.itch.io/"><i style="color: #78fffd;" class="nf nf-fa-itch_io"></i></a>
                <a title="Twitter"  href="https://twitter.com/nan0wav"><i style="color: #78fffd" class="nf nf-fa-twitter"></i></a>
                <a title="Tumblr"   href="https://www.tumblr.com/blog/nan0wav"><i style="color: #78fffd" class="nf nf-fa-tumblr"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- ozzy -->

<li>
    <figure>
        <img src="/assets/icons/pfps/ozzy.png" width="180px" style="border-radius: 40px; border: 4px yellow solid;">
        <figcaption>"Cheese"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Ozzy
        </h1>
        <p>
            <br>
        </p>
    </div>
</li>

<!-- darcii :3 -->

<li>
    <figure>
        <img src="/assets/icons/pfps/pawrci.png" width="180px" style="border-radius: 40px; border: 4px #9b65fb solid;">
        <figcaption>"<span style="font-size: 24px;">🐈</span>"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Pawrcii
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/Pawrcii"><i style="color: #9b65fb;" class="nf nf-fa-twitter"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>


<!-- pear -->

<li>
    <figure>
        <img src="/assets/icons/pfps/pear.png" width="180px" style="border-radius: 40px; border: 4px #4287f5 solid;">
        <figcaption>"good evening"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Pear
        </h1>
        <p>
            <span class="f_socials">
                <a title="Website" href="https://www.orchards.dev"><i style="color: #4287f5;" class="nf nf-fa-globe"></i></a>
                <a title="Twitter" href="https://twitter.com/PearOrchards_"><i style="color: #4287f5;" class="nf nf-fa-twitter"></i></a>
                <a title="Github" href="https://github.com/PearOrchards/"><i style="color: #4287f5;" class="nf nf-cod-github"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- raze -->

<li>
    <figure>
        <img src="/assets/icons/pfps/raze.jpg" width="180px" style="border-radius: 40px; border: 4px #f7cc66 solid;">
        <figcaption>"i am a fennec in real life, <br>trust me."</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Raze
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/razelgas"><i style="color: #f7cc66;" class="nf nf-fa-twitter"></i></a>
                <a title="Youtube" href="https://www.youtube.com/@razecamper"><i style="color: #f7cc66;" class="nf nf-fa-youtube"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- rekku -->

<li>
    <figure>
        <img src="/assets/icons/pfps/rekku.png" width="180px" style="border-radius: 40px; border: 4px #86dbfd solid;">
        <figcaption>"REKKU &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>invited you to DIE"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Rekku
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/Rekku484"><i style="color: #86dbfd;" class="nf nf-fa-twitter"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- SERPACITO -->

<li>
    <figure>
        <img src="/assets/icons/pfps/serp.png" width="180px" style="border-radius: 40px; border: 4px #a373f8 solid;">
        <figcaption>"la creatura"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Serp
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/serpens55"><i style="color: #a373f8;" class="nf nf-fa-twitter"></i></a>
                <a title="Pixiv"   href="https://www.pixiv.net/en/users/51962267"><i style="color: #a373f8;" class="fa-brands fa-pixiv"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- tanka -->

<li>
    <figure>
        <img src="/assets/icons/pfps/tankadar.png" width="180px" style="border-radius: 40px; border: 4px #A020F0 solid;">
        <figcaption>"meow"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            Tankadar
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter"   href="https://twitter.com/tankadarg"><i style="color: #A020F0;" class="nf nf-fa-twitter"></i></a>
                <a title="Instagram" href="https://www.instagram.com/tankadar"><i style="color: #A020F0;" class="nf nf-fa-instagram"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- toi -->

<li>
    <figure>
        <img src="/assets/icons/pfps/toi.png" width="180px" style="border-radius: 40px; border: 4px white solid;">
        <figcaption>"1991938391774829"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            toi
        </h1>
        <p>
            <span class="f_socials">
                <a title="Picmix   why" href="https://en.picmix.com/profile/marksman9038" style="color: white;"><i class="nf nf-fa-xmark"></i></a>
                <a title="Tenor TOI WHAT THE FUCK" href="https://tenor.com/users/marksman9038"><i style="color: white;" class="nf nf-md-file_gif_box"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- william -->

<li>
    <figure>
        <img src="/assets/icons/pfps/william.png" width="180px" style="border-radius: 40px; border: 4px #418148 solid;">
        <figcaption>"Hello my name is<br>princess jane"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            william
        </h1>
        <p>
            <span class="f_socials">
                <a title="Twitter" href="https://twitter.com/william43844477"><i style="color: #418148;" class="nf nf-fa-twitter"></i></a>
                <a title="Youtube" href="https://www.youtube.com/@william3264"><i style="color: #418148" class="nf nf-fa-youtube"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>

<!-- xwo -->

<li>
    <figure>
        <img src="/assets/icons/pfps/xwory.jpg" width="180px" style="border-radius: 40px; border: 4px #D500fe solid;">
        <figcaption>"XwO"</figcaption>
    </figure>
    <div class="contenido-text">
        <h1>
            XwOry
        </h1>
        <p>
            <span class="f_socials">
                <a title="Carrd" href="https://xwory.carrd.co/"><i style="color: #D500fe;" class="nf nf-fa-address_card"></i></a>
            </span> <br> <br>
        </p>
    </div>
</li>
</div>

