<div id="tabs">
    <a href="/" class="tablinks"><i class="nf nf-fa-home"></i> Home</a>
    <a href="/posts" class="tablinks"><i class="nf nf-fa-file_lines"></i> Posts</a>
    <a href="/about" class="tablinks"><i class="nf nf-fa-user"></i> About</a>
</div>

<header>
    <div class="divflex">
        <img src="{{ site.custom_logo }}" class="logo" id="idiote" align="left" draggable="false">
        <audio id="prototype" src="/assets/meow.mp3"></audio>
    </div>

    <div class="headertext">
        <p class="title"> <a href="javascript:displayRandomLine();" class="links notunderlined" title="click me get a random subtitle">{{ site.header_title }}</a></p>
        <p id="random-subtitle"></p>
    </div>
</header>

