<header>
    <div class="divflex">
        <img src="../assets/xd.png" class="logo" id="idiote">
        <audio id="prototype" src="../assets/meow.mp3"></audio>
    </div>

    <div class="headertext">
        <p class="title"> <a href="/" class="links">Cookiaria Website</a></p>
        <p id="random-subtitle"></p>
    </div>
</header>

<div id="tabs">
    <a href="https://twitter.com/Cookiaria" class="tablinks" tooltip="I am NOT calling it 'X', Elon"><i class="fa-brands fa-twitter"></i> Twitter</a>
    <a href="https://www.youtube.com/@Cookiaria" class="tablinks"><i class="fa-brands fa-youtube"></i> Youtube</a>
    <a href="https://github.com/Cookiaria" class="tablinks"><i class="fa-brands fa-github"></i> Github</a>
    <a href="about" class="tablinks"><i class="fa-solid fa-user"></i> About</a>
</div>