/*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://www.nerdfonts.com/assets/css/webfont.css');
@import url('/assets/css/codeblocks.css');

@font-face {
    font-family: "Renogare Regular";
    src: url(/assets/fonts/renogare.otf) format("opentype");
}

.utterances {
    max-width: 875px !important;
}

html {
    scroll-behavior: smooth;
}

.timeline-comment.current-user .comment-header {
    background-color: #1d1d1d !important;
}

.jp {
    font-family: 'M PLUS 1 Code', monospace;
}

a {
    color: #f80;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Renogare Regular';
    font-weight: 500;
}

h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #222222;
}

::-webkit-scrollbar-thumb {
    transition-duration: 0.25s;
    background: #3a3a3a;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bodydiv {
    position: relative;
    margin: 12px auto;
    max-width: 900px;
    min-width: 900px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/assets/waves.svg');
    background-color: #222222;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}

/*
.footerdingus {
    position: relative;
    aspect-ratio: 900/182;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/waves.svg');
} */

.notunderlined {
    text-decoration: none !important;
}

.underlined {
    text-decoration: underline !important;
}

.hugetext {
    font-size: 100px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resized {
    width: 25%;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.headertext p {
    margin: 0;
}

.title {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 2.2em;
}

.headertext {
    padding-left: 18px;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 208, 208);
}

.tablinks {
    transition-duration: 0.25s;
    z-index: 9;
    position: relative;
    text-decoration: none;
    color: rgb(241, 241, 241);
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 1.05em;
    margin-left: 8px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #222;
    border: 1px rgb(55, 54, 54) solid;
    bottom: 4px;
}

.tablinks:hover {
    color: #F80;
    padding-top: 6px !important;
    bottom: 6px;
    text-decoration: none !important;
}


header {
    z-index: 10;
    position: relative;
    background: #222;
    height: 110px;
    border: 1px rgb(55, 54, 54) solid;
    background-image: url(/assets/vibin.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: -36px;
}

header,
.tablinks,
.actualcontent {
    box-shadow: 8px 8px rgb(29, 29, 29);
}

.logo {
    width: 100px;
    height: auto;
    padding: 4px 0 0 4px;
    cursor: pointer
}

#random-subtitle {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2em;
    color: rgb(241, 241, 241);
}

#random-subtitle a {
    color: #F80;
    text-decoration: none;
}

#random-subtitle a:hover {
    text-decoration: underline;
}

.links {
    transition-duration: 0.25s;
    color: rgb(241, 241, 241);
}

.links:hover {
    color: #ff8600;
}

#tabs {
    margin-top: 24px;
}

#tabs a {
    padding-top: 4px
}

.actualcontent {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 10;
    position: relative;
    margin-top: 40px;
    background-color: #222222;
    border: 1px rgb(55, 54, 54) solid;
    color: white;
    font-size: 18px;    
    min-height: 25vh;
}

/* everything markdown related */

.actualcontent {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 5px 0;
        padding: 8px 20px;
    }
}

/* make links made with markdown orange */
.actualcontent {
    p a {
        color: #ff8600;
    }
}

footer {
    margin-top: 25px;
    margin-bottom: 40px;
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.footerlinks {
    margin-bottom: 20px;
    text-decoration: underline !important;
}

.centerpls {
    text-align: center !important;
}

code,
code>.nf {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 18px;
}

blockquote {
    border-left: 4px #ff8600 solid;

}

.customemoji {
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    padding-bottom: 0.2em;
}

img {
    -webkit-user-drag: none;
}

/* god i love when github doesn't update css stuffs for no reason */
