@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('/assets/css/codeblocks.css');

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #222222;
}

::-webkit-scrollbar-thumb {
    transition-duration: 0.25s;
    background: #3a3a3a;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    margin: 8px auto;
    max-width: 900px;
    min-width: 730px;
}

.notunderlined {
    text-decoration: none !important;
}

.underlined {
    text-decoration: underline !important;
}

.hugetext {
    font-size: 100px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resized {
    width: 25%;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

body {
    background-color: #222;
}

.headertext p {
    margin: 0;
}

.title {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 2.2em;
}

.headertext {
    padding-left: 18px;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 208, 208);
}

header {
    background-color: #222;
    height: 110px;
    border: 2px rgb(190, 190, 190) solid;
    background-image: url(/assets/vibin.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: -40px;
}

.logo {
    width: 100px;
    height: auto;
    padding: 4px 0 0 4px;
    cursor: pointer
}

#random-subtitle {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2em;
    color: rgb(241, 241, 241);
}

#random-subtitle a {
    color: #F80;
    text-decoration: none;
}

#random-subtitle a:hover {
    text-decoration: underline;
}

.links {
    transition-duration: 0.25s;
    color: rgb(241, 241, 241);
}

.links:hover {
    color: #ff8600;
}

.tablinks {
    text-decoration: none;
    color: rgb(241, 241, 241);
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 1.05em;
    margin-left: 8px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px rgb(190, 190, 190) solid;
}

.tablinks:hover {
    color: #008cff;
}

#tabs {
    margin-top: 16px;
}

#tabs a {
    padding-top: 3px
}

.actualcontent {
    font-family: "Noto Sans", sans-serif;
    margin-top: 40px;
    border: 2px rgb(55, 54, 54) solid;
    color: white;
    font-size: 1.2em;
}

/* everything markdown related */

.actualcontent {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 12px;
    }
}

/* make links made with markdown orange */
.actualcontent {
    p a {
        color: #ff8600;
    }
}

footer {
    margin-top: 40px;
    font-family: 'Ubuntu Mono', monospace;
    border: 2px rgb(190, 190, 190) solid;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.footerlinks {
    margin-bottom: 20px;
    text-decoration: underline !important;
}

.centerpls {
    padding: 0 auto !important;
    text-align: center !important;
}